*{
    background-color: black;
    color: white;
}

.navbar{
    background-color: rgb(42, 40, 40);
    }

.navbar a{
    text-decoration: none;
}

.navbar ul{
    display: flex;
    flex-grow: 3;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
}